* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#h-header {
  position: relative;
  width: 100%;
  height: 150px;
}
#h-header .logo {
  width: 310px;
  height: 110px;
  overflow: hidden;
  margin-left: 210px;
  float: left;
  position: relative;
}
#h-header .search {
  height: 110px;
  float: left;
  position: relative;
}
#h-header .service {
  float: right;
  position: relative;
  display: block;
}
#h-header .service ul {
  list-style-type: none;
}
#h-header .service .icon {
  background: url("asset/img/global.png") no-repeat;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
#header {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
#header .nav-link {
  float: right;
  width: 700px;
  background-color: #ff8400;
  height: 40px;
}
#header .nav-link ul {
  list-style: none;
}
#header .nav-link ul li {
  height: 40px;
  float: left;
  font-size: 16px;
}
#header .nav-link ul li a {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 22px 0 22px;
  color: #fff;
}
#header .nav-link ul li a span {
  color: #fff;
  vertical-align: bottom;
}
#header .nav-link ul .current {
  background-color: #e95a00;
}
#header .nav-menu {
  width: 245px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 998;
}
#header .nav-menu .nav-title {
  background-color: #707e8a;
  line-height: 40px;
  width: 100%;
  text-indent: 16px;
  display: block;
  color: #fff;
  font-size: 16px;
}
#header .nav-menu .nav-dropmenu {
  display: block;
  background-color: #f7f7f7;
  position: relative;
  z-index: 999;
}
#header .nav-menu .nav-dropmenu ul {
  display: block;
  border: 1px solid #eaeaea;
  height: 510px;
  border-top: 0;
  border-bottom: 0;
}
#header .nav-menu .nav-dropmenu ul li {
  height: 50px;
  border-bottom: 1px solid #eaeaea;
  display: block;
  float: left;
}
#header .nav-menu .nav-dropmenu ul li dl {
  line-height: 50px;
  text-align: right;
  position: relative;
  padding-right: 25px;
  white-space: nowrap;
  cursor: pointer;
  width: 218px;
  z-index: 991;
  display: block;
  height: 50px;
  overflow: hidden;
}
#header .nav-menu .nav-dropmenu ul li dl dt {
  float: left;
  padding-left: 15px;
  font-size: 16px;
}
#header .nav-menu .nav-dropmenu ul li dl dt a {
  color: #333;
}
#header .nav-menu .nav-dropmenu ul li dl dd {
  display: inline-block;
  font-size: 12px;
  padding-left: 11px;
  line-height: 53px;
}
#header .nav-menu .nav-dropmenu ul li dl dd a {
  color: #666;
}
