<div id="header" class="Fix">
<div class="nav-link" id="nav-link">
        <ul>
            <li class="current">
                <a href="/home"><span>团购首页</span></a>
            </li>
            <li>
                <a href="/list/home/items_40s9153"><span>今日新单</span></a>
            </li>
            <li>
                <a href="/list/home-category_1"><span>美食</span></a>
            </li>
            <li>
                <a href="/travel/home-category_75"><span>周边游</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_8"><span>结婚</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_9"><span>亲子</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_211"><span>家装</span></a>
            </li>
            <li>
                <a href="/list/home-category_212"><span>教育</span></a>
            </li>
        </ul>
</div>
<div class="nav-menu" id="nav-menu">
        <a class="nav-title" href="#"><span>全部团购分类</span><i class="icon24"></i></a>
	<div class="nav-dropmenu" id="nav-level-main">
    	<ul>
	<li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">美食</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">自助餐</a></dd>
        <dd><a class="" href="/list/home-category_15">火锅</a></dd>
        <dd><a class="" href="/list/home-category_132">8-10人套餐</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
    	</ul>
	</div>
</div>
</div>
