<h1>Example App: Home</h1>

<div class="tg-nav-link" id="nav-link">
        <ul>
            <li class="current">
                <a href="/home"><span>团购首页</span></a>
            </li>
            <li>
                <a href="/list/home/items_40s9153"><span>今日新单</span></a>
            </li>
            <li>
                <a href="/list/home-category_1"><span>美食</span></a>
            </li>
            <li>
                <a href="/travel/home-category_75"><span>周边游</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_8"><span>结婚</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_9"><span>亲子</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_211"><span>家装</span></a>
            </li>
            <li>
                <a href="/list/home-category_212"><span>教育</span></a>
            </li>
        </ul>
</div>
