<link rel="stylesheet" href="/detail-mobile/index.css">

<div class="detail-info">
    <a href="/tuan/shoplist/5293719" class="hd">
        适用商户(11)<p class="arrow-ent right"></p>
    </a>
    <div class="shoplist cont">
        <div class="b-line">
            <div class="flex-box">
                <aside>
                    <a href="http://m.dianping.com/shop/24715038" onclick="_hip.push(['mv', {module: '5_deal_shop', action: 'click'}]);">
                        <h3>半山小馆(松江万达店)</h3>
                        <p>
                            <span class="star-pic"><i style="width:90%;"></i></span>
                            <span class="f-r">
                             &gt;100km
                        </span>
                        </p>
                    </a>
                </aside>
                <a class="dis call-link l-line" href="tel:02167691157">
                    <i></i>
                </a>
            </div>
        </div>

        <div class="col-list">
            <div class="item" onclick="_hip.push(['mv', {module: '5_deal_allshop', action: 'click'}]);">
                <div class="blo"><i class="icon-comm location"></i>万达广场三楼3026号</div>
            </div>
        </div>
    </div>
</div>

