<a href="/tuan/deal/2007262" class="item Fix">
                        <div class="cnt">
                            <img class="pic" src="http://t2.s1.dpfile.com/pc/mc/71640443ee477eeeeb3b3874a93adb5c(160x100)/thumb.jpg">

                            <div class="wrap">
                                    <div class="content">
                                        <div class="shopname">沪西电影院</div>
                                        <div class="title">[静安区]仅售35元，价值150元2D电影票2张！震撼音效，舒适环境，超值低价！</div>
                                        <div class="info">
                                            <span class="symbol">¥</span>
                                            <span class="price">35</span>
                                                <del class="o-price">¥150</del>
                                            <span class="distance">已售5549</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
</a>
