<div class="Fix page clearfix" data-index="0" style="width: 414px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                        <a href="/shoplist/1/d/1/c/10/s/s_-1" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/food.png">
                            <div>美食</div>
                        </a>
                        <a href="/movie/shanghai" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/movie.png">
                            <div>电影</div>
                        </a>
                        <a href="/shoplist/1/d/1/c/30/s/s_-1" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/relax.png">
                            <div>休闲娱乐</div>
                        </a>
                        <a onclick="_hip.push(['mv', {module:'5_index_category',action:'click',content:'丽人'}]);" href="http://evt.dianping.com/channel/beauty/index.html?cityid=1&amp;utm_source=m" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/beauty.png">
                            <div>丽人</div>
                        </a>
                        <a href="/tuan/shanghai" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/eleconfig/20150907150814grouponshan.png">
                            <div>闪惠团购</div>
                        </a>
                        <a href="/waimai/mindex" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/takeaway.png">
                            <div>外卖</div>
                        </a>
                        <a href="/shoplist/1/d/1/c/60/s/s_1" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/eleconfig/20150602180637hotel.png">
                            <div>酒店</div>
                                <div class="hot"></div>
                        </a>
                        <a href="/shoplist/1/d/1/c/141/s/s_-1" class="item">
                            <img class="icon" src="http://m1.s1.dpfile.com/sc/api_res/mindex/indexicon/client/uis/7.5.0/footer.png">
                            <div>足疗按摩</div>
                        </a>
<ul class="circles">
            <li class="circle on"></li>
            <li class="circle "></li>
            <li class="circle "></li>
</ul>
</div>
