<link rel="stylesheet" href="/index-pc/index.css">
<div class="head">
    <div class="container">
        <div class="head-main-icon" href="www.dianping.com"></div>
    <a href="" class="city">
    上海
        <i class="icon i-arrow"></i>
    </a>
    <div class="head-search-box">
        <div class="head-search-bar">
            <input class="search-input" type="text" placeholder="搜索商户名，地址、菜名、外卖等" autocomplete="off">
            <div class="head-search-btn">
                <button id="search-btn">
                    搜索
                </button>
            </div>
        </div>
        <div class="head-hotkey">
            <a href="">日料</a>
            <a href="">火锅</a>
            <a href="">烧烤</a>
            <a href="">水煮鱼</a>
            <a href="">人气AV</a>
        </div>
    </div>
    <div class="head-service">
        <ul class="head-service-icon">
            <li class="service-return">
                <a href="">
                    <i class="icon1"></i>
                    <span>随时退</span>
                </a>
            </li>
            <li class="service-auto">
                <a href="">
                    <i class="icon2"></i>
                    <span>过期自动退</span>
                </a>
            </li>
            <li class="service-free">
                <a href="">
                    <i class="icon3"></i>
                    <span>不满意免单</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
</div>









<div id="container" class="Fix">
<div class="nav-menu" id="nav-menu">
        <a class="nav-title" href="#"><span>全部团购分类</span><i class="icon24"></i></a>
    <div class="nav-dropmenu" id="nav-level-main">
        <ul>
        {{!-- 第1个li --}}
    <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">美食</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">自助餐</a></dd>
        <dd><a class="" href="/list/home-category_15">火锅</a></dd>
        <dd><a class="" href="/list/home-category_132">8-10人套餐</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第2个li --}}
        <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">休闲娱乐</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">AV</a></dd>
        <dd><a class="" href="/list/home-category_15">洗浴</a></dd>
        <dd><a class="" href="/list/home-category_132">周边玩</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第3个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">电影</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">团购</a></dd>
        <dd><a class="" href="/list/home-category_15">热映</a></dd>
        <dd><a class="" href="/list/home-category_132">找AV</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第4个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">酒店</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">情侣酒店</a></dd>
        <dd><a class="" href="/list/home-category_15">豪华酒店</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第5个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">旅游/三人游</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">景点门票</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第6个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">丽人</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">美发</a></dd>
        <dd><a class="" href="/list/home-category_15">抽脂</a></dd>
        <dd><a class="" href="/list/home-category_132">隆胸</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第7个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">生活服务</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">汽车服务</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第8个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">购物</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">食品饮料</a></dd>
        <dd><a class="" href="/list/home-category_15">钟表眼镜</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第9个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">结婚</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">婚纱摄影</a></dd>
        <dd><a class="" href="/list/home-category_15">旅游婚纱照</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        {{!-- 第10个li --}}
                <li class="">
        <dl class="Fix">
        <dt>
             <a class="" href="/list/home-category_1">亲子</a>
        </dt>
        <dd><a class="" href="/list/home-category_14">亲子游乐</a></dd>
        <dd><a class="" href="/list/home-category_15">亲子摄影</a></dd>
        <dd class="menu-arrow icon"></dd>
        </dl>
        </li>
        </ul>
    </div>
</div>

<div class="nav-link" id="nav-link">
        <ul>
            <li class="current">
                <a href="/home"><span>团购首页</span></a>
            </li>
            <li>
                <a href="/list/home/items_40s9153"><span>今日新单</span></a>
            </li>
            <li>
                <a href="/list/home-category_1"><span>美食</span></a>
            </li>
            <li>
                <a href="/travel/home-category_75"><span>周边游</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_8"><span>结婚</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_9"><span>亲子</span></a>
            </li>
            <li>
                <a href="/wedding/home-category_211"><span>家装</span></a>
            </li>
            <li>
                <a href="/list/home-category_212"><span>教育</span></a>
            </li>
        </ul>
</div>
<div class="nav-classify">
    <ul>
        <li class="nav-classify-hot">
            <div class="nav-classify-overlay Fix">
                <dl>
                    <dt>
                        <i class="icon4"></i>
                        <span>热门分类</span>
                    </dt>
                    <dd>
                        <a href="">
                            <span>火锅</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>自助餐</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>8-10人套餐</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>日料</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>西餐</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>小吃</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>面包</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>甜点</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>川菜</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>阿朱私房菜菜</span>
                        </a>
                    </dd>
                </dl>
            </div>
        </li>
        <li class="nav-classify-area">
            <div class="nav-classify-overlay Fix">
                <dl>
                    <dt>
                        <i class="icon5"></i>
                        <span>全部区域</span>
                    </dt>
                    <dd>
                        <a href="">
                            <span>地铁沿线</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>浦东新区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>卢湾区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>黄浦区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>静安区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>徐汇区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>普陀区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>闵行区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>杨浦区</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>金山区</span>
                        </a>
                    </dd>
                </dl>
            </div>
        </li>
        <li class="nav-classify-business">
            <div class="nav-classify-overlay Fix">
                <dl>
                    <dt>
                        <i class="icon6"></i>
                        <span>热门商区</span>
                    </dt>
                    <dd>
                        <a href="">
                            <span>人民广场</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>五角场</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>松江大学城</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>八佰伴</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>徐家汇</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>中山公园</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>皇家永利</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>淮海路</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>新天地</span>
                        </a>
                    </dd>
                    <dd>
                        <a href="">
                            <span>南京东路</span>
                        </a>
                    </dd>
                </dl>
            </div>
        </li>
    </ul>
</div>
{{!-- 1大4小图 --}}
<div class="picture">
    <div class="picture-big" href="www.baidu.com"></div>
    <div class="picture-small">
        <ul>
            <li class="pic1" href="www.baidu.com"></li>
            <li class="pic2" href="www.baidu.com"></li>
            <li class="pic3" href="www.baidu.com"></li>
            <li class="pic4" href="www.baidu.com"></li>
        </ul>
    </div>
</div>
{{!-- 底部 --}}
<div class="bottom">
    <div class="bottom-first">
        <div class="first-top">
            <i class="icon7"></i>
            <span>意见反馈</span>
            <p>让我们倾听你的声音</p>
        </div>
        <div class="first-down">
            <i class="icon8"></i>
            <span>客服电话</span>
            <p>400-438-3838</p>
        </div>
    </div>
    <div class="bottom-second">
        <div class="second-top">
            <i class="icon9"></i>
            <span>商务合作</span>
            <p>在点评组织团购</p>
        </div>
        <div class="second-down">
            <i class="icon10"></i>
            <span>在线客服</span>
            <p>立即提问</p>
        </div>
    </div>
    <div class="bottom-help">
        <span>用户帮助</span>
        <a>如何使用</a>
        <a>常见问题</a>
        <a>点评团承诺</a>
        <a>邮箱白名单设置</a>
    </div>
    <div class="bottom-update"></div>
    <div class="bottom-bussiness"></div>
    <div class="bottom-info"></div>
</div>

</div>
